.center {
	display: flex;
	justify-content: center;
}
.margin {
	margin-top: 60px;
	color: blue;
}
.card {
	border-radius: 5px;
	border: 2px;
	background-color: whitesmoke;
	padding: 40px;
	height: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
	margin: 40px;
}
h1 {
	color: green;
	text-align: center;
}
